 *,
 *::before,
 *::after {
   box-sizing: border-box;
   margin: 0 0;
   list-style-type: none;
 }

 html{
  font-family: 'Tinos', serif;
  background: url("https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  .show h1 {
    font-size: 44px;
    margin-bottom: 15px;
  }

  .confirm a {
    color: white;
    font-size: 50px;
    background-color: red;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    border: solid 3px white;
  }

  .links a {
      color: white;
      font-size: 39px;
  }

  .show {
    text-align: center;
  }

  .restaurant_list{
    text-align: center;
  }

  .restaurant_list img {
    width: 43%
  }

  .restaurant_name {
    color: #fbe846
  }

  .restaurant_description {
    color: #fbe846;
    font-size: 32px;
  }


  .button {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }

  .search {
    text-align: center;
  }


  .restaurant_name {
    font-size: 70px;
    font-weight: bold;
  }

  select#time {
    font-size: 21px;
}

  .available {
    text-align: center;
    color: white;
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 15px;
  }


  h1.search_reso {
    text-align: center;
    font-size: 44px;
}

section.search {
    font-size: 37px;
}

input {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
 .navbar {
   background-color: white;
   text-align: center;
   height: 120px;
   position: relative;
   font-size: 45px
 }

 .search_results {
   font-size: 38px;
 }

 .navbar img {
   width: 60px;
   height: auto;
   margin-top: 10px;
 }


 .container {
   background-size: cover;
   color: white;
 }
 //
 .mainbody {
 //   margin: 70px 90px;
 //   padding: 5%;
 //   text-align: center;
 background: rgb(54, 25, 25);
 background: rgba(54, 25, 25, .5);

 }

@import "restaurants";
@import "search_restaurants";
