// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.available {
  padding: 15px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 50px;
}

.search_results {
  padding: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 19px;
}


.button {
  background-color: rgba(255,0,255,.5);
}


.img.resize{
    width:540px; /* you can use % */
    height: auto;
}

.restaurant_result {
  background-color: rgba(0,0,255,0.4);
  margin: 10px;
}

.nav_bar {
  background-color: white;
}

.nav_option {
  font-weight: bold;
  margin: 10px;
}

.res_details {
  font-size: 20px;
}


.error_messages {
  color: red;
}

.success_text {
  font-size: 22px;
}
